*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #f6f6f6;
    text-align: center;
}
.page-title{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 20px;
}
.form{
    margin: 10px;
}
.form input, .form button{
    width: 250px;
    height: 40px;
    padding: 10px;
    border-radius: 2px;
    margin: 5px; 
    border: 1px solid #888;
}
button{
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.post{
    width: 60%;
    background-color: #fff;
    border: 1px solid #666;
    padding: 10px;
    margin: 10px auto;
}
.post button{
    width: 150px;
    display: inline-block;
    margin: 5px;
}